/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
    /* background-color: blue; */
    /* margin: 3px; */
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
 }

/* Home Section */
#home{
    
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#homee{
    
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 350px;
    justify-content: center;
    align-items: center;
}


/* homee is for book now section */

#homee::before{ 
    content: "";
    position: absolute;
    background: url('img/b3.png') no-repeat center center/cover;
    height: 642px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    /* opacity:0.92; */
}

#homee p{
    color:black;
    text-align: center;
    font-size: 1.2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#homeee::before{ 
    content: "";
    position: absolute;
    background: url('img/india.jpg') no-repeat center center/cover;
    height: 326px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    /* opacity:0.92; */
}

#homeee p{
    color:black;
    text-align: center;
    font-size: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#homeee p{
    color:white;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}
#homeee h1{
    color: black;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Bree Serif', serif;
  
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('img/bg1.jpg') no-repeat center center/cover;
    height: 642px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    /* opacity:0.92; */
}

#home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
  
}

#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/* Services Section */
#services{
    margin: 34px;
    display: flex;
}
#services .box{ 
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;

} 

#services  ul li{
 text-decoration: none;
 text-align: center; 
 margin-top: 20px; 
 padding: 1rem;
 list-style-type: none;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 

/* Clients Section */
#client-section{ 
    position: relative;
}

#client-section::before{
 content: "";
 position: absolute;
 background: url('img/b2.jpg');
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.8;
 background-repeat: no-repeat;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 124px;
}


/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -0.8;
    opacity: 0.2;
    background: url('img/hyd.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}


footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 37px;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid rgb(242, 208, 208);
    background-color: #e6c6a5;
    color: rgb(98, 65, 173);
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
    text-decoration: none;
   
}

.center{
    text-align: center;
}


